
# Dev lint code
flake8
# Dev test code
pytest-cov
# Dev coverage
codecov
# Stick headers
# git+https://github.com/ShinyTrinkets/Sticky


# LMDB (optional)
lmdb

# UJSON (optional)
ujson

# SimpleJson (optional)
# simplejson

# CBOR2 (optional)
cbor2 ~= 4.1

# Msgpack (optional)
msgpack ~= 0.6
