
# Dev lint code
flake8
# Dev test code
pytest
pytest-cov
# codecov.io
codecov
# Stick headers
# pip install git+https://github.com/croqaz/Sticky


# UJSON (optional)
ujson

# SimpleJson (optional)
simplejson ~= 3.11

# CBOR2 (optional)
cbor2 ~= 4.0

# Msgpack (optional)
msgpack-python ~= 0.4


# LevelDB (optional)
plyvel

# LMDB (optional)
lmdb

# Python-redis (optional)
python_redis
